<p>post-reservation works!</p>
<div style="margin-top: 50px;">
    <nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'" nzTip="Working...">
        <div class="parent">
            <div class="child">
                <div nz-row class="imgDiv">
                    <h2 style="margin-left: 150px;">Reservation Request</h2>
                </div>
                <form nz-form  [formGroup]="validateForm" >
                    <div nz-row>
                        <div nz-col nzSpan="24" style="margin-top: 20px;">
                            <nz-form-item>
                                <nz-form-control nzHasFeedback [nzXs]="24" nzErrorTip="This input Is required!">
                                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a Table type" formControlName="tableType" >
                                        <nz-option *ngFor="let item of TableType" nzLabel="{{item}}" nzValue="{{item}}" ></nz-option>
                                    </nz-select>

                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="24" >
                            <nz-form-item>
                                <nz-form-control nzHasFeedback >
                                   <nz-date-picker nzFormat="yyyy-MM-dd HH:mm" nzPlaceHolder="Select a date and time" [nzShowTime]="{nzFormat:'HH:mm'}" ></nz-date-picker>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="24">
                            <nz-form-item>
                                <nz-form-control nzHasFeedback [nzXs]="24" nzErrorTip="This input Is required!">
                                    <textarea rows="3" nz-input   placeholder="Description" formControlName="description"> </textarea>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>
                    <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'" (click)="postReservation()">Submit</button>
                </form>
            </div>
        </div>
    </nz-spin>
</div>

