<p>signup works!</p>
<div class="bg" style="background-color: #f8f8f8;">
  <nz-spin [nzSpinning]="isSpinning" [nzTip]="'Loading...'">
    <div class="parent">
      <div class="child">
        <div nz-row class="imgDiv">
            <div nz-col nzSpan="24">
              <h1 style="margin-left: 80px;">Sign up</h1>
            </div>
        </div>
          <form nz-form [formGroup]="validateform" >

            <nz-form-item>
              <nz-form-control nzHasFeedback nzErrorTip="The input is not valid">
                <input nz-input placeholder="E-email" id="email" formControlName="email">
              </nz-form-control>
            </nz-form-item >
      
            <nz-form-item>
              <nz-form-control nzHasFeedback [nzErrorTip]="errorPass">
                <input nz-input placeholder="Password" type="password" id="password" formControlName="password">
                <ng-template #errorPass let-control >
                  <ng-container *ngIf="control.hasError('required')">
                    Password is required!
                  </ng-container>
                  <ng-container *ngIf="control.hasError('pattern')">
                    Password should be at least 8 characters, 1 lowercase, 1 uppercase, 1 number and 1 special character!
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
      
            <nz-form-item>
              <nz-form-control nzHasFeedback [nzErrorTip]="errorTpl">
                <input nz-input type="password" placeholder="Confirm Password" id="checkPassword" formControlName="checkPassword" />
                <ng-template #errorTpl let-control>
                  <ng-container *ngIf="control.hasError ('required')">
                    Please confirm your password!
                  </ng-container>
                  <ng-container *ngIf="control.hasError('confirm')">
                    Two passwords that you enter is inconsistent!
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          
            <nz-form-item>
              <nz-form-control nzHasFeedback [nzErrorTip]="userErrorTpl">
                <input nz-input placeholder="Name" id="username" formControlName="name"/>
                <ng-template #userErrorTpl let-control>
                  <ng-container *ngIf="control.hasError ('required')">
                    Please enter your name!
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
      
            <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'" (click)="register()">Register</button> Or <a routerLink="/login">login now!</a>
        </form>
      </div>
    </div>
  </nz-spin>
</div>
