<div class="parent">
    <div class="child">
        <div class="imgDiv">
            <h2 style="margin-left: 30px;">Add Category</h2>
        </div>
        <form nz-form [formGroup]="categoryForm">
            <div nz-row>
                <div nz-col [nzMd]="24" [nzSm]="24" [nzXs]="24">
                    <div class="profile-badge">
                        <label for="upload_profile_image" class="upload-label" *ngIf="selectedFile">
                            <img class="profile" alt="profile" [src]="imagePreview">
                        </label>
                        <input type="file" nz-button nzType="primary" id="upload_profile_image" accept="image/x-png,image/gif,image/jpeg" (change)="onFileSelected($event)">
                        <button nz-button nzShape="circle"></button>
                    </div>
                </div>
                <div nz-col nzSpan="24" style="margin-top: 20px;">
                    <nz-form-item>
                        <nz-form-control nzHasFeedback [nzXs]="24" nzErrorTip="This input is required!">
                            <input nz-input placeholder="Name" formControlName="name">
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="24">
                    <nz-form-item>
                        <nz-form-control nzHasFeedback [nzXs]="24" nzErrorTip="This input is required!">
                            
                           <textarea rows="1" nz-input placeholder="Description" formControlName="description"></textarea>
                        </nz-form-control>
                    </nz-form-item>
                </div>
               
            </div> 
            <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'" (click)="postCategory()">Add</button>
        </form>
    </div>
</div>


<!--
     {{name.value}} 
<hr>
{{email.value}} 
<hr>
{{name.errors | json}}
<hr>
{{email.errors | json}}
Inputs: {{formUser.value | json}}
<hr>
Valor input name: {{formUser.get('name')?.value | json}}
<br>
Valor input email: {{formUser.controls['email'].value | json}}  //Esta es la forma correcta
 <hr>
{{formUser.controls.email.value | json}}   Otra forma de acceder a los controles
<hr>
<hr>
Errores de input email: {{formUser.controls.email.errors | json}}   //Esta es la forma correcta para errores
<br>
Error de input email (validacion: email): {{formUser.controls.email.errors?.['email']}}  
<br>
Error de input email (validacion: required): {{formUser.controls.email.errors?.['required']}} 
<hr>
-->